/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.body-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel3{
    max-width: 1600px;
    width: 95%;
}
.slider-wrapper .slide-button{
    height: 50px;
    width: 50px;
    top:50%;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover{
    background: #444;
}
.slider-wrapper .slide-button#prev-slide{
    left:-20px;
    margin-left: 30px; 
}
.slider-wrapper .slide-button#next-slide{
    right:-20px;
    margin-right: 30px;
}
.slider-wrapper .image-list{
    display: flex;
    gap: 18px;
    font-size: 0;
    margin: 30px;
    overflow-x: auto; /* Enable horizontal scrolling */
    scrollbar-width: none; /* Hide scrollbar */
    max-width: 100%; /* Ensure it fits within the container */
    flex-wrap: nowrap; /* Prevent wrapping to ensure overflow */
    /* grid-template-columns: repeat(10,1fr); */
}
.slider-wrapper .image-list ::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;

}
.slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background: #ccc;
    position: relative;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 40%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}
.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left:0;
    right: 0;
    top: -10px;
    bottom: -10px;
}